* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--color);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

/* ---------------------------------------------- Header -------------------------------------- */
::selection {
  background-color: var(--hover-color);
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: var(--padding);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav a {
  color: var(--color);
  margin-left: var(--margin);
  font-weight: bold;
  font-size: var(--font-size-md);
  transition: var(--transition);
}

nav a:hover {
  color: var(--hover-color);
}

/* ------------------------------------------------ Hero Section --------------------------------- */

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.personal-photo {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--border-color);
  transition: var(--transition);
  /* animation: float 3s ease-in-out infinite; */
}

.personal-photo:hover {
  transform: scale(1.03);
  box-shadow: -10px 10px 20px var(--pink-color);
}

/* @keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px); 
  }
  100% {
    transform: translateY(0); 
  }
} */

.home-description {
  display: flex;
  flex-direction: column;
}

.home-description small {
  color: grey;
}

.home-description h1 {
  transition: var(--transition);
}

.home-description h2 {
  transition: var(--transition);
}

.home-description h1:hover,
.home-description h2:hover {
  transform: scale(1.05);
  color: var(--hover-color);
}

.home-description p {
  max-width: 28rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.home-description a {
  align-self: center;
}

/* ------------- Button ------------- */

.download-btn {
  position: relative;
  overflow: hidden;
  background-color: var(--btn-bg-color);
  border: none;
  color: var(--btn-font-color);
  padding: var(--padding);
  width: var(--btn-width);
  border-radius: var(--btn-radius);
  font-weight: bold;
  font-size: var(--font-size-lg);
  transition: var(--transition);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.download-btn:hover {
  transform: scale(1.05);
  background-color: var(--btn-hover);
}

/* ---------------- Cards Section ---------------- */

.education {
  text-align: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: var(--padding);
  /* margin: auto; */
  border-radius: var(--card-radius);
}
.certificates,
.projects,
.timeline {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
  border-radius: var(--card-radius);
}

section:not(#home) {
  margin: 4rem 1rem;
  padding: 1rem;
}

.cards-flex {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: var(--gap);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: var(--padding);
  margin: var(--margin);
  width: auto;
  text-align: center;
  /* transition: var(--transition); */
  border-radius: var(--card-radius);
}

.education-card i,
.education-card h3,
.education-card h4 {
  margin-bottom: 0.75rem;
}

.card img {
  border-radius: var(--card-img-radius);
  border: 1px solid var(--border-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.certificates .card img {
  height: 10.5rem;
  width: 15rem;
  object-fit: cover;
}

.projects .card img {
  height: 10.5rem;
  width: 15rem;
  object-fit: cover;
}

.card p {
  margin-top: var(--margin);
  text-align: center;
}

.show-btn {
  background-color: var(--btn-bg-color);
  border: none;
  border-radius: var(--btn-radius);
  color: var(--color);
  padding: var(--padding);
  font-size: var(--font-size-md);
  font-weight: bold;
  transition: var(--transition);
  width: var(--card-btn-width);
  margin-top: var(--margin);
}

.show-btn:hover {
  background-color: var(--btn-hover);
  transform: scale(1.05);
}

mark {
  background-color: var(--pink-color);
  padding: 0.12rem;
  border-radius: 0.25rem;
  transition: var(--transition);
}

mark:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.fa-graduation-cap {
  font-size: 2rem;
  margin-right: 0.3rem;
  color: var(--pink-color);
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* for horizontal scroll */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: rgb(243, 223, 227);
  border-radius: 10px;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background: var(--pink-color);
  border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

/* ------- fieldset ---------- */

fieldset {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top-color: var(--pink-color);
}

legend {
  text-align: center;
  padding: var(--padding);
  color: var(--color);
  font-weight: bold;
  font-size: var(--font-size-lg);
}

/* ---------------------------------Experience Timeline------------------------------------------- */

.timeline {
  position: relative;
  margin: auto;
}

.timeline h2 {
  margin-bottom: var(--margin);
}

.exp-container {
  padding: var(--padding);
  position: relative;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: var(--card-radius);
}

.exp-txt {
  transition: var(--transition);
}

.exp-txt:hover {
  transform: scale(1.05);
}

.exp-container::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.9rem;
  height: 0.9rem;
  background: #fff;
  border-radius: 50%;
  border: 3px solid var(--pink-color);
}

.left {
  left: 19%;
  border-right: 3px solid var(--pink-color);
  border-bottom: 3px solid var(--pink-color);
}

.right {
  left: 51%;
  border-left: 3px solid var(--pink-color);
  border-bottom: 3px solid var(--pink-color);
}

.exp-txt span {
  font-size: 0.5rem;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 61%;
  background: var(--pink-color);
  top: 6.25rem;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  border-radius: 1rem;
}

.exp-container.left::before {
  right: -1.5rem;
}

.exp-container.right::before {
  left: -1.6rem;
}

.exp-txt small {
  font-size: 0.75rem;
  color: grey;
}

/* -------------------------------- Footer ------------------------------------------ */

footer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 12px;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  text-align: center;
  padding: var(--padding);
  height: auto;
  margin-top: var(--margin);
}

.contact-txt {
  margin-bottom: var(--margin);
}

.contact-icons {
  display: inline-block;
  border-radius: var(--icon-bg-radius);
  height: var(--icon-bg-height);
  width: var(--icon-bg-width);
  padding: var(--icon-padding);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 20px 0px;
  text-align: center;
  margin: 0 0.5rem;
  transition: var(--transition);
}

.contact-icons:hover {
  transform: scale(1.1);
}

.contact-icons:hover i {
  color: var(--hover-color);
}

.fa-envelope,
.fa-phone,
.fa-linkedin,
.fa-github {
  font-size: var(--icon-size);
  color: var(--color);
}

.footer-copy {
  margin-top: 2rem;
  font-size: var(--font-size-sm);
  color: grey;
}

/* ==================================================== */

/* ===================== Mobile (max 600px) ===================== */

@media (max-width: 600px) {
  :root {
    --font-size-lg: 1.2rem;
    --font-size-md: 0.9rem;
    --font-size-sm: 0.7rem;
    --btn-width: 60vw;
    --btn-height: 7vh;
    --card-btn-width: 40vw;
  }

  header {
    display: none;
  }

  .home {
    flex-direction: column;
    text-align: center;
  }

  .personal-photo {
    width: 15rem;
    height: 15rem;
  }

  .home-description p {
    width: 100%;
  }

  .cards-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    margin: 1rem 0;
  }

  .timeline {
    grid-template-columns: 1fr; /* عمود واحد */
    padding: 0 1.5rem; /* مساحة أقل من الجوانب */
  }

  .exp-container::after, .exp-container::before {
    display: none;
  }

  .exp-container {
    width: 100%; 
    border-left: none; 
    border-right: none;
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-bottom: 1rem;
    border-radius: 0;
  }


 .exp-container.left {
    justify-self: center;
    text-align: left; 
  }
.exp-container.right {
    justify-self: center;
    text-align: left; 
  }
  .left,
.right {
  left: 0;
  border: none;
}

.timeline::after {
  display: none;
}

.exp-container {
    border-left: 3px solid var(--pink-color); 
  }

  .img-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .vol-card p {
    width: 100%;
  }

  footer {
    padding: 2rem 1rem;
  }
}

/* ===================== Tablet (600px - 992px) ===================== */

@media (min-width: 600px) and (max-width: 992px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .personal-photo {
    width: 20rem;
    height: 20rem;
  }

  .home-description p {
    width: 90%;
    margin: auto;
  }

  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .vol-card {
    flex-direction: column;
  }

  .img-grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .vol-card p {
    width: 90%;
  }
}
