:root {



    --background-color: #F8F4EC;

    /* === Button === */
    --btn-bg-color: pink;
    --btn-font-color: #43334C;
    --btn-radius: 5rem;
    --btn-height: 10vh;
    --btn-width: 20vw;
    --btn-hover: #FF8FB7;
    --btn-hover-font: pink;

    /* === Spacing === */
    --padding: 0.75rem;
    --margin: 1.25rem;
    /* --section-padding: 7.5rem 2.5rem; */
    --gap: 0.5rem;
    --exp-gap: 1.5rem;

    /* === Colors === */
    --color: #43334C;
    --hover-color: #FF8FB7;
    --border-color: pink;
    --pink-color: #ffc0cb;
    --dark-purple-color: #43334C;

    /* === Fonts === */
    --font-family: "Inter", sans-serif;
    --font-size-lg: 1.5rem;
    --font-size-md: 1rem;
    --font-size-sm: 0.75rem;

    --transition: 0.2s ease-in-out;

    /* === Cards === */
    --card-radius: 2rem;
    --card-img-radius: 1rem;
    --card-btn-width: 15vw;

    /* === Icons === */
    --icon-bg-radius: 50%;
    --icon-bg-height: 3rem;
    --icon-bg-width: 3rem;
    --icon-padding: 0.75rem;
    --icon-size: 1.5rem;
}